@import './components/header';
@import './components/_main/main-styles';
@import './carousel';
@import './components/footer';
@import './blur';

* {
    box-sizing: border-box;
    outline: none;
}

body {
    padding: 0px;
    margin: 0px;
    background: rgba(18, 21, 23, 1);
}

.container {
    width: 1294px;
    margin: 0px auto;
}


@media (min-width: 1400px) {
    .container {
        max-width: inherit;
    }
}

.img-restoran {
    position: relative;
}

.swiper {
    margin-left: 0px;
    margin-right: 0px;
}

[data-animate] {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

[data-animate].visible {
    opacity: 1;
    transform: translateY(0);
}