.contacts {
    padding-top: 150px;
    padding-bottom: 100px;
    background: url("../img/contacts-lines.png") no-repeat top 300px right -65px / auto;
    @media (max-width: 1294px) {
        & {
            padding-top: 65px;
            padding-bottom: 65px;
            background: url("../img/contact-mobile.png") no-repeat top right -30px / auto;
        }
    }
    .contacts-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1294px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 50px;
            justify-content: baseline;
        }
        & > img {
            transition: transform 0.3s ease;
            @media (max-width: 1294px) {
                & {
                    width: 175px;
                    height: 247px;
                }
            }
            &:hover {
                transform: translateY(-30px);
                cursor: pointer;
            }
        }
        .contacts-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 55px;
            position: relative;
            @media (max-width: 1294px) {
                & {
                    gap: 35px;
                }
            }
            &__title {
                color: white;
                width: 365px;
                font-family: 'Montserrat';
                font-size: 80px;
                font-weight: 800;
                line-height: 109.47%;
                letter-spacing: -3%;
                @media (max-width: 1294px) {
                    & {
                        font-family: 'Montserrat';
                        font-size: 48px;
                        font-weight: 800;
                        line-height: 109.47%;
                        letter-spacing: -3%;
                        width: 220px;
                    }
                }
                & > span {
                    background: linear-gradient(222.68deg, rgba(35, 113, 73, 1), rgba(53, 197, 107, 1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    }
            }
            &__item {
                color: rgba(217, 217, 217, 1);
                font-family: 'Montserrat';
                font-size: 20px;
                font-weight: 400;
                line-height: 163.47%;
                letter-spacing: -2%;
                width: 400px;
                @media (max-width: 1294px) {
                    & {
                        color: rgba(217, 217, 217, 1);
                        font-family: 'Montserrat';
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 163.47%;
                        letter-spacing: -2%;
                        width: 320px;
                    }
                }
            }
            .contacts-links {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;
                @media (max-width: 1294px) {
                    & {
                        gap: 25px;
                    }
                }
                &__item {
                    color: rgba(255, 255, 255, 1);
                    font-family: 'Montserrat';
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 131.97%;
                    letter-spacing: 0%;
                    text-decoration: none;
                    transition: color 0.3s ease;
                    @media (max-width: 1294px) {
                        & {
                            color: rgba(255, 255, 255, 1);
                            font-family: 'Montserrat';
                            font-size: 21.44px;
                            font-weight: 500;
                            line-height: 131.97%;
                            letter-spacing: 0%;
                        }
                    }
                    &:hover {
                        color: rgb(39, 158, 97);
                    }
                }
            }
        }
    }
}