.footer {
    padding-top: 40px;
    padding-bottom: 35px;
    background-color: #0B0C0D;
    position: relative;
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        .footer-main {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: inherit;
            position: relative;
            &__title {
                background: linear-gradient(222.68deg, rgba(35.259639739990234, 113.67274475097656, 73.06596374511719, 1), rgba(53.062068939208984, 197.61024475097656, 107.04993438720703, 1) 100%);;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-family: 'Montserrat';
                font-size: 37.6px;
                font-weight: 800;
                line-height: 109.47%;
                letter-spacing: -3%;
            }
            .footer-links {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                &__title {
                    color: rgba(187, 179, 179, 1);
                    font-family: 'Montserrat';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -1%;
                }
                .footer-links-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    height: 120px;
                    &__item {
                        color: rgba(187, 179, 179, 0.43);
                        font-family: 'Montserrat';
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: -1%;
                    }
                }
            }
        }
        .footer-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: inherit;
            &__item {
                background: linear-gradient(244.98deg, rgba(35.259639739990234, 113.67274475097656, 73.06596374511719, 1), rgba(53.062068939208984, 197.61024475097656, 107.04993438720703, 1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    font-family: Montserrat;
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: 0%;
                    text-align: left;
            }
        }
    }
}